.navigation {
    margin-bottom: 20px;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationBar .navLink {
    margin-right: 20px;
}

/* .main {
} */

.greetingsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greetingsBox .navLink {
    margin-right: 100px;
    display: block;
}

/* .phonebook {
  margin-right: 100px;
} */

.entrance {
    display: flex;
    margin-left: 100px;
}
.entrance .navLink {
    margin-right: 20px;
}

.navLink {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.navLink:hover,
.navLink:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navLinkActive {
    color: white;
}
