.inputName {
    width: 300px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.inputNumber {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.formButton {
    margin-top: 30px;
    background-color: lightgreen;
    min-height: 30px;
}
