.contactItem {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactInfo {
    margin-right: 50px;
}

.button {
    width: 100px;
    height: 30px;
}
